:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --violet: #b78deb;
  --green: #68cb9b;
  --orange: #ffb72c;
  --blue: #4cb3fd;
  --ash: #49687e;
}

.container {
  max-width: 1600px;
  margin: auto;
  padding: 2rem;
}

.pricing-plans {
  text-align: center;
}

.tabs {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.tab-btn {
  cursor: pointer;
  border: none;
  background-color: transparent;
  font-weight: 600;
  color: var(--ash);
  font-size: medium;
}

.tab-btn.active {
  color: var(--violet);
  border-bottom: 2px solid var(--violet);
  font-weight: 800;
}

#plans-container {
  display: flex;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 20px;
  justify-content: center;
  align-items: start;
  margin: 0 auto;
}

@media (max-width: 1200px) {
  #plans-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 900px) {
  #plans-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  #plans-container {
    grid-template-columns: 1fr;
  }
}

.plan {
  border: 1px solid #ccc;
  padding: 20px;
  width: 255px;
  height: 662px;
  text-align: start;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.price {
  font-size: 1.5em;
  color: #333;
}

.month {
  font-size: 1rem;
  color: #333;
}

.list {
  list-style: none;
  padding: 0;
}
.single-list {
  margin-top: 10px;
}

.plan-name {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 20px 0px -20px 0px;
  color: var(--ash);
}

.discount-text {
  color: var(--ash);
  font-weight: 600;
  background: rgba(183, 141, 235, 0.15);
  padding: 8px;
  border-radius: 40px;
  margin-left: 10px;
  margin-top: 50px !important;
}
