:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  overflow-x: hidden;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --violet: #b78deb;
  --green: #68cb9b;
  --orange: #ffb72c;
  --blue: #4cb3fd;
  --ash: #49687e;
}

.container {
  max-width: 1600px;
  margin: auto;
  padding: 2rem;
}

.tabs {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.tab-btn {
  cursor: pointer;
  border: none;
  background-color: transparent;
  font-weight: 600;
  color: var(--ash);
  font-size: medium;
}

.tab-btn.active {
  color: var(--violet);
  border-bottom: 2px solid var(--violet);
  font-weight: 800;
}

#plans-container {
  display: flex;
  gap: 20px;
  padding: 20px;
  justify-content: center;
  align-items: start;
  margin: 0 auto;
}

@media (max-width: 1100px) {
  #plans-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    max-width: 350px;
    overflow-x: hidden;
  }

  .tab-btn {
    cursor: pointer;
    border: none;
    background-color: transparent;
    font-weight: 600;
    color: var(--ash);
    font-size: small;
  }
}

.plan {
  border: 1px solid #ccc;
  padding: 20px;
  width: 255px;
  height: 600px;
  text-align: start;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
}

.price {
  font-size: 1.5em;
  color: #333;
  margin-bottom: 0;
}

.month {
  font-size: 1rem;
  color: var(--ash);
  font-weight: 500;
}

.list {
  list-style: none;
  padding: 0;
}
.single-list {
  margin-top: 10px;
  font-weight: 500;
  color: var(--ash);
  font-size: 14px;
}

.dynamic-text {
  margin-top: 10px;
  margin-bottom: -5px;
  font-weight: 500;
  color: var(--ash);
  font-size: 14px;
}

.plan-name {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 20px 0px -20px 0px;
  color: var(--ash);
}

.discount-text {
  color: var(--ash);
  font-weight: 600;
  background: rgba(183, 141, 235, 0.15);
  padding: 8px;
  border-radius: 40px;
  margin-left: 10px;
  margin-top: 50px !important;
}

.plan-button {
  width: 90%;
  padding: 12px 10px;
  border-radius: 10px;
  border: none;
  color: white;
  font-weight: 600;
  cursor: pointer;
  font-size: medium;
  position: absolute;
  bottom: 10px;
  right: 15px;
}

.text {
  color: var(--ash);
  font-weight: 650;
}

.feature-tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tooltip-text {
  visibility: hidden;
  width: 200px;
  height: fit-content;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.75);
  text-align: start;
  border-radius: 5px;
  padding: 10px;
  position: absolute;
  z-index: 1;
  bottom: 110%;
  left: 50%;
  margin-left: -100px;
  opacity: 0;
  transition: opacity 0.3s;
}

.feature-tooltip:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}
